@mixin btn {
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  width: 172px;
  height: 46px;
  border: none;
  background-repeat: 5px;
  background: linear-gradient(0deg, #1da6c2 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: 1s all;
  &:hover {
    background: rgba(32, 71, 83, 0.5);
  }
}
